* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff7d4;
  padding: 20px;
  font-family: "Silkscreen", sans-serif;
  font-size: 24px;
  display: flex;
}

.container {
  display: flex;
  flex: auto;
}

.calculator {
  background-color: #c5adc9;
  width: 20em;
  height: 30em;
  margin: 0 auto;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  box-shadow: 10px 10px 20px 2px;
  padding: 0.8em;
  flex-shrink: 1;
}

.result-screen {
  height: 15%;
  width: 18em;
  background-color: #a8a8a8;
  border-radius: 8px;
  padding: 0.3em;
  box-shadow: 2px 2px 5px 1px inset;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-color: #817d7d #a8a8a8;
}

.result-screen .answer {
  width: 100%;
  max-width: 100%;
  height: 30%;
  max-height: 30%;
  font-size: 1em;
  text-align: end;
}

.result-screen .input {
  width: 100%;
  max-width: 100%;
  height: 70%;
  max-height: 70%;
  font-size: 2em;
  text-align: end;
  align-content: end;
}

.buttons {
  width: 18em;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: auto;
}

button {
  cursor: pointer;
  width: 2.2em;
  height: 2.2em;
  font-size: 1.8em;
  border-radius: 50%;
  border: none;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  flex-shrink: 0;
  text-align: center;
  box-shadow: 2px 2px 5px 1px;
}

button:active {
  box-shadow: 1px 1px 2px inset;
}

button:hover {
  filter: brightness(90%);
}

#clear,
#delete {
  width: calc(50% - 0.3em);
  border-radius: 24px;
}

.row1 {
  background-color: #ffbfd8;
}

#clear {
  background-color: #fd8d8d;
}

.row2 {
  background-color: #fdf6b4;
}

.row3 {
  background-color: #c0ffbd;
}

.row4 {
  background-color: #ebbfff;
}

.row5 {
  background-color: #c0dbff;
}
