* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff7d4;
  padding: 20px;
  font-family: "Silkscreen", sans-serif;
}

.calculator {
  background-color: #c5adc9;
  width: 500px;
  height: 700px;
  margin: 0 auto;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  box-shadow: 10px 10px 20px 2px;
}

.result-screen {
  height: 100px;
  background-color: #a8a8a8;
  width: 424px;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 2px 2px 5px 1px inset;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-color: #817d7d #a8a8a8;
}

.result-screen .answer {
  width: 100%;
  max-width: 100%;
  height: 30%;
  max-height: 30%;
  font-size: 24px;
  text-align: end;
}

.result-screen .input {
  width: 100%;
  max-width: 100%;
  height: 70%;
  max-height: 70%;
  font-size: 48px;
  text-align: end;
  align-content: end;
}

.buttons {
  width: 424px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

button {
  cursor: pointer;
  width: 90px;
  height: 90px;
  font-size: 40px;
  border-radius: 50%;
  border: none;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  flex-shrink: 0;
  text-align: center;
  box-shadow: 2px 2px 5px 1px;
}

button:active {
  box-shadow: 1px 1px 2px inset;
}

button:hover {
  filter: brightness(90%);
}

#clear,
#delete {
  width: calc(50% - 8px);
  border-radius: 24px;
}

.row1 {
  background-color: #ffbfd8;
}

#clear {
  background-color: #fd8d8d;
}

.row2 {
  background-color: #fdf6b4;
}

.row3 {
  background-color: #c0ffbd;
}

.row4 {
  background-color: #ebbfff;
}

.row5 {
  background-color: #c0dbff;
}
